# Analyzing Your Data

In [2]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.read_csv("earthquakes-dataset.csv")

In [4]:
df1.head(3)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic

In [5]:
date_demo = "21st of July 2000"

In [6]:
date_demo

'21st of July 2000'

In [7]:
date_demo_datetime = pd.to_datetime(date_demo)

In [8]:
date_demo_datetime

Timestamp('2000-07-21 00:00:00')

In [10]:
df1['DateTime'] = pd.to_datetime(df1['Date']+' '+ df1['Time'] , errors='coerce')

# errors='coerce'  will add null for invalid date ..

In [11]:
df1.head(5)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,DateTime
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-02 13:44:18
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-04 11:29:49
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-05 18:05:58
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-08 18:49:43
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-09 13:32:50

In [12]:
df1['DateTime'][0]

Timestamp('1965-01-02 13:44:18')

In [13]:
df1['DateTime'][0].strftime('%A or %a and in %B')

'Saturday or Sat and in January'

In [14]:
df1 = df1.set_index(['DateTime'])

In [15]:
df1.head(2)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
DateTime,,,,,,,,,,,,,,,,,,,,,
1965-01-02 13:44:18,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1965-01-04 11:29:49,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic

In [16]:
df1.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [17]:
df1['Depth'] = df1['Depth'].astype(int)

In [18]:
df1.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                           int64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [19]:
df1.head(2)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
DateTime,,,,,,,,,,,,,,,,,,,,,
1965-01-02 13:44:18,01/02/1965,13:44:18,19.246,145.616,Earthquake,131,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1965-01-04 11:29:49,01/04/1965,11:29:49,1.863,127.352,Earthquake,80,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic

In [27]:
# convert column and create index as part of reading

df2 = pd.read_csv("earthquakes-dataset.csv" , index_col= 0 , parse_dates=[['Date', 'Time']])

In [28]:
df2.head(2)

,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
Date_Time,,,,,,,,,,,,,,,,,,,
01/02/1965 13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
01/04/1965 11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic

In [29]:
df2.index

Index(['01/02/1965 13:44:18', '01/04/1965 11:29:49', '01/05/1965 18:05:58',
       '01/08/1965 18:49:43', '01/09/1965 13:32:50', '01/10/1965 13:36:32',
       '01/12/1965 13:32:25', '01/15/1965 23:17:42', '01/16/1965 11:32:37',
       '01/17/1965 10:43:17',
       ...
       '12/24/2016 03:58:55', '12/25/2016 14:22:27', '12/25/2016 14:32:13',
       '12/27/2016 23:20:56', '12/28/2016 08:18:01', '12/28/2016 08:22:12',
       '12/28/2016 09:13:47', '12/28/2016 12:38:51', '12/29/2016 22:30:19',
       '12/30/2016 20:08:28'],
      dtype='object', name='Date_Time', length=23412)

In [30]:
df2.index = pd.to_datetime(df2.index , errors='coerce')

In [31]:
df2.index

DatetimeIndex(['1965-01-02 13:44:18', '1965-01-04 11:29:49',
               '1965-01-05 18:05:58', '1965-01-08 18:49:43',
               '1965-01-09 13:32:50', '1965-01-10 13:36:32',
               '1965-01-12 13:32:25', '1965-01-15 23:17:42',
               '1965-01-16 11:32:37', '1965-01-17 10:43:17',
               ...
               '2016-12-24 03:58:55', '2016-12-25 14:22:27',
               '2016-12-25 14:32:13', '2016-12-27 23:20:56',
               '2016-12-28 08:18:01', '2016-12-28 08:22:12',
               '2016-12-28 09:13:47', '2016-12-28 12:38:51',
               '2016-12-29 22:30:19', '2016-12-30 20:08:28'],
              dtype='datetime64[ns]', name='Date_Time', length=23412, freq=None)

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23412 entries, 1965-01-02 13:44:18 to 2016-12-30 20:08:28
Data columns (total 19 columns):
Latitude                      23412 non-null float64
Longitude                     23412 non-null float64
Type                          23412 non-null object
Depth                         23412 non-null float64
Depth Error                   4461 non-null float64
Depth Seismic Stations        7097 non-null float64
Magnitude                     23412 non-null float64
Magnitude Type                23409 non-null object
Magnitude Error               327 non-null float64
Magnitude Seismic Stations    2564 non-null float64
Azimuthal Gap                 7299 non-null float64
Horizontal Distance           1604 non-null float64
Horizontal Error              1156 non-null float64
Root Mean Square              17352 non-null float64
ID                            23412 non-null object
Source                        23412 non-null object
Location Source               23412 non-null object
Magnitude Source              23412 non-null object
Status                        23412 non-null object
dtypes: float64(12), object(7)
memory usage: 3.6+ MB

In [34]:
df2 = df2.dropna(axis=1)

In [35]:
df2.head(2)

,Latitude,Longitude,Type,Depth,Magnitude,ID,Source,Location Source,Magnitude Source,Status
Date_Time,,,,,,,,,,
1965-01-02 13:44:18,19.246,145.616,Earthquake,131.6,6.0,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1965-01-04 11:29:49,1.863,127.352,Earthquake,80.0,5.8,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23412 entries, 1965-01-02 13:44:18 to 2016-12-30 20:08:28
Data columns (total 10 columns):
Latitude            23412 non-null float64
Longitude           23412 non-null float64
Type                23412 non-null object
Depth               23412 non-null float64
Magnitude           23412 non-null float64
ID                  23412 non-null object
Source              23412 non-null object
Location Source     23412 non-null object
Magnitude Source    23412 non-null object
Status              23412 non-null object
dtypes: float64(4), object(6)
memory usage: 2.0+ MB

In [37]:
df3 = df2[['Latitude','Longitude','Type','Depth','Magnitude']]

In [38]:
df3.head(2)

                     Latitude  Longitude        Type  Depth  Magnitude
Date_Time
1965-01-02 13:44:18    19.246    145.616  Earthquake  131.6        6.0
1965-01-04 11:29:49     1.863    127.352  Earthquake   80.0        5.8

In [39]:
df3.Type.unique()

array(['Earthquake', 'Nuclear Explosion', 'Explosion', 'Rock Burst'],
      dtype=object)

In [41]:
df3[df3.Type == 'Earthquake'].Magnitude.max()

9.1

In [42]:
df3[df3.Type == 'Earthquake'].Depth.max()

700.0

In [43]:
df3[df3.Type == 'Earthquake'].Depth.min()

-1.1

In [44]:
df3.Type.value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [46]:
# Sampling or Re Sampling

In [49]:
df3['Magnitude'][df2.Type == 'Earthquake'].resample('3M').mean()

Date_Time
1965-01-31    6.123077
1965-04-30    5.984000
1965-07-31    5.925333
1965-10-31    6.146835
1966-01-31    5.950847
                ...
2016-01-31    5.953448
2016-04-30    5.898198
2016-07-31    5.862617
2016-10-31    5.854188
2017-01-31    5.945361
Name: Magnitude, Length: 209, dtype: float64

In [50]:
df3['Magnitude'][df2.Type == 'Earthquake'].resample('12M').mean()

Date_Time
1965-01-31    6.123077
1966-01-31    6.003254
1967-01-31    6.042218
1968-01-31    6.019835
1969-01-31    6.089216
1970-01-31    6.001246
1971-01-31    6.028329
1972-01-31    5.988542
1973-01-31    5.920844
1974-01-31    5.804455
1975-01-31    5.829370
1976-01-31    5.844240
1977-01-31    5.824279
1978-01-31    5.782692
1979-01-31    5.821320
1980-01-31    5.819308
1981-01-31    5.866860
1982-01-31    5.863133
1983-01-31    5.807872
1984-01-31    5.875708
1985-01-31    5.852311
1986-01-31    5.891922
1987-01-31    5.872316
1988-01-31    5.894343
1989-01-31    5.850533
1990-01-31    5.836157
1991-01-31    5.870382
1992-01-31    5.880988
1993-01-31    5.883418
1994-01-31    5.891457
1995-01-31    5.874904
1996-01-31    5.904625
1997-01-31    5.874011
1998-01-31    5.867364
1999-01-31    5.857447
2000-01-31    5.886688
2001-01-31    5.868525
2002-01-31    5.870507
2003-01-31    5.867206
2004-01-31    5.878360
2005-01-31    5.846219
2006-01-31    5.871577
2007-01-31    5.857414
2008-01-31    5.886432
2009-01-31    5.909441
2010-01-31    5.859429
2011-01-31    5.906801
2012-01-31    5.863766
2013-01-31    5.871167
2014-01-31    5.876190
2015-01-31    5.884719
2016-01-31    5.926201
2017-01-31    5.888056
Name: Magnitude, dtype: float64

In [51]:
df3['Magnitude'][df2.Type == 'Earthquake'].resample('12H').mean()

Date_Time
1965-01-02 12:00:00    6.0
1965-01-03 00:00:00    NaN
1965-01-03 12:00:00    NaN
1965-01-04 00:00:00    5.8
1965-01-04 12:00:00    NaN
                      ...
2016-12-28 12:00:00    5.9
2016-12-29 00:00:00    NaN
2016-12-29 12:00:00    6.3
2016-12-30 00:00:00    NaN
2016-12-30 12:00:00    5.5
Name: Magnitude, Length: 37981, dtype: float64

In [52]:
# standard deviation

In [53]:
df3['Magnitude'][df2.Type == 'Earthquake'].resample('1M').std()

Date_Time
1965-01-31    0.683318
1965-02-28    0.510518
1965-03-31    0.536068
1965-04-30    0.262311
1965-05-31    0.467748
                ...
2016-08-31    0.522631
2016-09-30    0.352273
2016-10-31    0.330896
2016-11-30    0.475149
2016-12-31    0.575674
Name: Magnitude, Length: 624, dtype: float64

In [56]:
df3.loc[df3['Magnitude'] == 9.1]

                     Latitude  Longitude        Type  Depth  Magnitude
Date_Time
2004-12-26 00:58:53     3.295     95.982  Earthquake   30.0        9.1
2011-03-11 05:46:24    38.297    142.373  Earthquake   29.0        9.1

In [57]:
df3.loc[df3['Depth'] == -1.1]

                     Latitude  Longitude        Type  Depth  Magnitude
Date_Time
1992-06-28 12:00:45    34.131   -116.408  Earthquake   -1.1       5.77

In [60]:
df3.index.year[df3.Type == 'Nuclear Explosion'].value_counts().sort_index()

1966.0     1
1968.0     2
1969.0     1
1970.0     1
1973.0     6
1974.0     6
1975.0     9
1976.0    10
1977.0     8
1978.0    15
1979.0    13
1980.0    13
1981.0     8
1982.0     6
1983.0    10
1984.0    14
1985.0     6
1986.0     1
1987.0    16
1988.0    10
1989.0     7
1990.0     4
1991.0     1
1992.0     1
1993.0     1
1994.0     2
1995.0     2
1996.0     1
Name: Date_Time, dtype: int64